fastapi==0.110.0
uvicorn==0.27.1
python-dotenv==1.0.1
python-multipart==0.0.9
certifi
langchain>=0.2.0
langchain-core>=0.3.22
langchain-anthropic>=0.1.9
langchain-community>=0.0.30
langgraph>=0.0.45
langchain-redis>=0.2.3
sentence-transformers
redis>=5.0.1
newsapi-python
langchain-redis
redis[search]
pydantic>=2.7.0