fastapi==0.110.0
uvicorn==0.27.1
python-dotenv==1.0.1
langchain==0.1.12
langchain-anthropic==0.1.4
langchain-community==0.0.28
langgraph==0.0.26
python-multipart==0.0.9
pydantic==2.6.4
newsapi-python
langchain-redis==0.0.7
redis>=4.5.0
uuid